body {
  background-color: rgb(27, 27, 27);
}
a {
  color: grey;
}
.linkhome {
  text-decoration: solid;
}
.conteudocentral {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150%;
  width: 40%;
  min-width: 330px;
  margin: 0 auto;
  color: lightgrey;
}
.conteudocentral h1 {
  color: aliceblue;
}
.conteudocentral h2 {
  color: aliceblue;
}
.barrasuperior {
  width: 40%;
  min-width: 330px;
  margin: 0 auto;
  height: 90px;
  border-bottom: 2px solid darkgray;
}
.textodireito {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  float: right;
  font-size: large;
}
.iconeprincipal {
  float: left;
  width: 55px;
  height: 55px;
}
